.hero
  display: flex
  flex-direction: column
  justify-content: center
  background: $light url('../img/hero/bg.png') no-repeat center / 89rem 
  height: 100vh
  padding-bottom: 70px
  &__container
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 40rem
    padding: 0
  &__content
    display: flex
    justify-content: space-between
    align-items: flex-end
    
  &__title
    max-width: 69.285rem
    margin: 0 auto
    text-align: center
    text-transform: uppercase 
    font-family: 'Roboto Condensed', sans-serif
    font-weight: bold
    &--big
      color: #7d3803
      font-size: 3.285rem
      line-height: 2.4rem
      margin-top: 6.5rem
    &--small
      color: #272727
      font-size: 1.571rem
      line-height: 2.428rem
  &__advantages
    max-width: 46.428rem
    display: flex
    justify-content: space-between  
    margin-left: -18px  
  &-form
    max-width: 21.5rem
    background-color: $bright
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border: 5px solid #fdf1cf
    &__title
      font-family: 'Roboto Condensed', sans-serif
      font-size: 1.5rem
      font-weight: bold
      line-height: 1.571rem
      color: #fdf1cf
      text-transform: uppercase
      margin: 25px auto 23px
    &__subtitle
      font-size: 1.285rem
    &__button
      margin-top: 14px
      padding: 22px 59px
      background-color: #12edc9
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.09)
      &:hover
        transition: 0.2s
        background-color: $light
        color: #12edc9
        border: 1px solid #12edc9
  &__input
    margin-bottom: 6px
  &__policy
    max-width: 253px
    display: flex
    justify-content: center
    align-items: center
    margin: 12px 19px 24px 19px
    &-text
      font-size: 11px
      font-weight: 300
      line-height: 11px
      color: $light
      text-align: center